<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %}<title>CloThings - {{ page_title }}</title>{% endblock title %}

  <link rel="stylesheet" href="static/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
  {% endblock %}
</head>

<body>
  {% block header %}
  <nav class="nav-bar">
    <div class="logo">CloThings</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </nav>
  {% endblock %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="footer">
    <div>CloThings - Buy cool things from CloThings</div>
  </footer>
  {% endblock %}
</body>

</html>
