{% import 'components/card.jinja' as card_macros %}
{% extends "base.jinja" %}

{% block header %}
{{ super() }}
<div>
  <h1>{{ author }}</h1>
</div>

{% endblock header %}

{% block content %}
<div class="cards-container">

  {% for outfit in outfits %}
  {{ card_macros.card(outfit.image, outfit.title, outfit.description, outfit.price) }}
  {% endfor %}

</div>
{% endblock content %}
