{% extends "base.jinja" %}

{% block header %}
{{ super() }}
<div>
  <h1>{{ author }}</h1>
</div>

{% endblock header %}

{% block content %}
<div class="cards-container">

  {% for outfit in outfits %}
  <div class="card">
    <div class="card-banner">
      <img src="{{ outfit.image }}">
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ outfit.title }}</h3>
      <p class="card-text">{{ outfit.description }}</p>
      <div class="card-price">{{ outfit.price }}</div>
      <button type="button" class="card-button">add to cart</button>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock content %}
